@font-face {
    font-family: "DM Sans";
    src: url("../assets/fonts/DM_Sans/DMSans-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato/Lato-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato/Lato-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

.form-control:focus, .btn:focus {
    background: unset;
    color: unset;
    box-shadow: unset;
}

body {
    margin: 0;
    font-family: "Lato";
    font-weight: normal;
    font-style: normal;
}

header {
    margin: 42px 0 17px;
}

main {
    margin: 0 100px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .logo img {
        width: 50px;
    }

    .logo h1 {
        margin: 0;
        font-family: "DM Sans";
        font-weight: bold;
        font-style: normal;
        font-size: 36px;
        line-height: 47px;
        color: #D04F4F;
    }

.search {
    background: #E7E7E7;
    border-radius: 5px;
}

    .search input, .search button {
        background: none;
        border: none;
    }

    .search input {
        padding: 23px 22px 24px;
        font-size: 18px;
        line-height: 22px;
    }

        .search input::placeholder {
            font-family: "Lato";
            opacity: 0.25;
        }

    .search button {
        padding: 0 20px;
    }

.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 121px;
    margin: 25px 0;
}

.ingredient, .appliance, .utensil{
    border-radius: 5px;
}

.ingredient {
    background: #3282F7;
}

.appliance {
    background: #68D9A4;
}

.utensil {
    background: #ED6454;
}

    .filtersSelected {
        display: none;
        flex-wrap: wrap;
        gap: 15px;
        margin: 0 0 20px;
    }
    
        .filter {
            display: flex;
            align-items: center;
            gap: 13px;
            min-height: 37px;
            padding: 0 20px;
            color: white;
            font-weight: bold;
        }

        .filter img {
            cursor: pointer;
            transition: .2s;
        }

        .filter img:hover {
            filter: brightness(0.5) sepia(1) saturate(10000%);
            transform: scale(1.2);
        }

    .filtersDropdowns {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

        .dropdown {
            min-width: 170px;
            width: 170px;
            height: 69px;
            margin: -5px 0 0;
        }

        .dropdown input, .dropdown button {
            background: none;
            border: none;
        }

        .dropdown input {
            color: white;
            font-family: "Lato";
            font-weight: bold;
        }

        .dropdown input:focus {
            color: white;
        }

        .dropdown input::placeholder {
            color: white;
            font-family: "Lato";
            font-weight: bold;
        }

        .dropdown input:focus::placeholder {
            color: transparent;
        }
        
        .dropdown button img{
            transform: rotate(180deg);
        }

        .dropdownOptions{
            position: absolute;
            display: none;
            top: calc(100% - 1px);
            left: 0;
            padding: 0 20px 5px;
            z-index: 3;
            color: white;
            font-size: 18px;
            line-height: 22px;
            border-radius: 0 0 5px 5px;
        }
    
            .dropdownOptions ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: auto;
                white-space: nowrap;
            }

            .dropdownOptions ul:not(:last-of-type) {
                padding: 0 20px 0 0;
                width: 240px;
            }
    
                .dropdownOptions li {
                    padding: 0 0 10px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    cursor: pointer;
                }

                .dropdownOptions ul:last-of-type li {
                    padding: 0 4px 10px 0;
                }

                .dropdownOptions li::first-letter {
                    text-transform: capitalize;
                }
    
                .dropdownOptions li:hover {
                    box-shadow: -4px -4px 0px 4px rgb(0 0 0/.1);
                    background: rgb(0 0 0/.1);
                    background-attachment: local;
                }

                .dropdownOptions ul:last-of-type li:hover {
                    box-shadow: -4px -4px 0px 4px rgb(0 0 0/.1);
                }
            
        .dropdownOpen {
            border-radius: 5px 5px 0 0;
        }
    
        .dropdownOpen .dropdownOptions{
            display: flex;
        }

        .dropdownOpen button img{
            transform: none;
        }

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px;
}

    .grid .card-img-top {
        height: 178px;
        object-fit: cover;
        background: #C7BEBE;
    }

    .grid .card {
        overflow: hidden;
        border: none;
        background: #E7E7E7;
    }

    .grid .card-body {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 20px;
    }

    .recipeHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 20px;
    }

        .recipeHeader h2 {
            margin: 0;
        }

        .recipeTime {
            display: flex;
            gap: 7px;
        }

            .recipeMinutes {
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
            }

    .recipeTitle{
        font-size: 18px;
        line-height: 22px;
        font-weight: normal;
    }

    .recipeIngredients, .recipePreparation {
        margin: 0;
        width: 50%;
        font-size: 12px;
    }

    .recipeIngredients {
        line-height: 14px;
        list-style: none;
        padding: 0;
        min-height: 105px;
    }

        .recipeIngredientName {
            font-weight: bold;
        }
    
    .recipePreparation {
        line-height: 12px;
        font-family: "Roboto";
        font-style: normal;
        height: 109px;
        overflow: hidden;

        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
    }

h2.nothingAvailable {
    grid-column: 1 / 4;
    text-align: center;
    max-width: 650px;
    margin: auto;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 992px) {
    main {
        margin: 0 50px;
    }

    .dropdownOptions ul, .dropdownOptions ul:not(:last-of-type) {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .grid {
        max-width: 440px;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }

    .dropdownOpen .dropdownOptions {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    main {
        margin: 0 20px;
    }
    
    .dropdown{
        min-width: 150px;
        width: 150px;
        
    }

}